body{
  background: rgb(168, 168, 168);
}
#bckg{
  background: rgb(43, 43, 43);
}
.container{
  width: 100%;
  max-width: 100%;
}
.imgDiv{
  max-width: 15rem;
  position: relative;
  transition: 0.5s;
}

.overlay {
	position: absolute;
	background: rgba(192, 192, 192, 0.685);
  width: 100%;
	opacity: 0;
	bottom: 0;
	font-size: 16px;
	padding: 20px;
}
.imgDiv:hover{
  transform: scale(1.1);
  }
.imgDiv:hover .overlay {
	opacity: 1;
}
button{
  width: 35%;
}