body{
  background: rgb(168, 168, 168);
}
#bckg{
  background: rgb(43, 43, 43);
}
.container{
  width: 100%;
  max-width: 100%;
}
.slider{
  overflow-x: auto;
  overflow-y: hidden;
  height: 25rem;
}
.imgDiv{
  max-width: 10rem;
  width: 15vw;
  position: relative;
  transition: 0.5s;
}

.overlay {
	position: absolute;
	background: rgba(192, 192, 192, 0.685);
  width: 100%;
	opacity: 0;
	bottom: 0;
	font-size: 14px;
	padding: 10px;
}
.imgDiv:hover{
  transform: scale(1.1);
  }
.imgDiv:hover .overlay {
	opacity: 1;
}
button{
  width: 45%;
}

@media (max-width: 768px){
  .slider{
    height: 150vh;
  }
}